<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <ul class="text-left list-inline">
                    <li>&copy; 2014 Digital Literacy Project</li>
                    <li><a href="{{ site.baseurl }}/license">License</a></li>
                    <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <a href="dlp.io">DLP.io</a>
            </div>
            <div class="col-md-5 text-right">
                Follow us on Twitter!
            </div>
        </div>
    </div>
</footer>