<header class="colored">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-5">
                <div id="logo">
                    <a href="/"><strong>DLP</strong> Curricula</a>
                </div>
            </div>
            <div class="col-md-7 col-sm-7">
                <div class="collapse navbar-collapse navbar-right" id="collapsing-navbar">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/curriculum.html">Main Curriculum</a></li>
                        <li><a href="/supplementary">Supplementary Curriculum</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {{ page.header }}
    </div>
</header>